body {
  background-color: rgb(51, 40, 40) !important;
}

form {
  min-width: 300px;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.gagal {
  display: none;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media only screen and (max-width: 500px) {
  .btn-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .btn {
    width: 90px;
    height: 30px;
    font-size: 13px !important;
  }
}
